:root {
  --primary-color: #8e44ad;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
html,
body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-weight: 300;
  font-size: 20px;
  /*Below this code make our fonts rendering perfectly*/
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}
.row {
  max-width: 1140px;
  margin: 0 auto;
}
/*-----------------------*/
/* Header area
/*-----------------------*/
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(img/hero.jpg);
  background-size: cover;
  background-position: center;
  /*100vh means 100% of viewport*/
  height: 100vh;
  background-attachment: fixed;
}
/*-----------------------*/
/* Nav area
/*-----------------------*/
.logo {
  height: auto;
  width: 190px;
  float: left;
  margin-top: 20px;
}
.logo-black {
  display: none;
  height: 50px;
  width: auto;
  float: left;
}
/*--------Main nav----------*/
.main-nav {
  float: right;
  margin-top: 35px;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
}
.main-nav li a:link,
.main-nav li a:visited {
  color: #fff;
  text-transform: uppercase;
  padding: 8px 0;
  font-size: 90%;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.2s;
}
.main-nav li a:hover,
.main-nav li a:active {
  border-bottom: 2px solid var(--primary-color);
}
/*--------Mobile nav icon----------*/
.mobile-nav-icon {
  float: right;
  cursor: pointer;
  margin-top: 30px;
  display: none;
}
.mobile-nav-icon i {
  font-size: 200%;
  color: #fff;
}
/*--------Sticky class----------*/
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px 0;
  box-shadow: 0 2px 2px #efefef;
  z-index: 9999;
  backdrop-filter: blur(5px);
}
.sticky .main-nav {
  float: right;
  margin-top: 15px;
}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
  color: #222f3e;
  padding: 8px 0;
  font-size: 80%;
}
.sticky .logo-black {
  display: block;
}
.sticky .logo {
  display: none;
}
/*-----------------------*/
/* Header hero text box
/*-----------------------*/
header .hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
}
h1 {
  color: #fff;
  font-size: 240%;
  word-spacing: 4px;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
/*-----------------------*/
/* Header hero text box button
/*-----------------------*/
.btn:link,
.btn:visited,
input[type='submit'] {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  color: #fff;
  transition: background-color 0.3s, border 0.2s, color 0.2s;
}
.btn:hover,
.btn:active,
input[type='submit']:active,
input[type='submit']:hover {
  background-color: var(--primary-color);
  color: #fff;
}
.btn-full:link,
.btn-full:visited,
input[type='submit'] {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}
.btn-full:hover,
.btn-full:active {
  border: 1px solid var(--primary-color);
}
.btn-ghost:link,
.btn-ghost:visited {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}
.btn-ghost:hover,
.btn-ghost:active {
  border: 1px solid var(--primary-color);
  color: #fff;
}
/*-----------------------*/
/* Section features
/*-----------------------*/
section {
  padding: 80px 0;
}
h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align-last: center;
  margin-bottom: 30px;
  letter-spacing: 1px;
  font-weight: bold;
}
h2:after {
  display: block;
  height: 2px;
  background-color: var(--primary-color);
  content: ' ';
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
.long-copy {
  line-height: 145%;
  width: 70%;
  margin: 0 15% 40px;
  text-align: center;
}
.box {
  padding: 1%;
}
.box h3 {
  font-size: 110%;
  margin-bottom: 15px;
}
.box p {
  font-size: 90%;
  line-height: 145%;
  text-align: justify;
}
.icon-big {
  font-size: 300%;
  display: block;
  color: var(--primary-color);
  margin-bottom: 10px;
}
/*-----------------------*/
/* Section meals
/*-----------------------*/
.section-meals {
  padding: 0;
}
.meals-showcase {
  width: 100%;
}
.meals-showcase li {
  display: block;
  width: 25%;
  float: left;
}
.meals-photo {
  width: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
}
.meals-photo img {
  width: 100%;
  height: auto;
  opacity: 0.7;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}
.meals-photo img:hover {
  opacity: 1;
  transform: scale(1.03);
}
/*-----------------------*/
/* section steps
/*-----------------------*/
.section-steps {
  background-color: #f4f4f4;
}
.steps-box:first-child {
  text-align: right;
  padding-right: 3%;
  margin-top: 30px;
}
.steps-box:last-child {
  padding-left: 3%;
  margin-top: 70px;
}
.app-screen {
  width: 40%;
}
.work-steps {
  margin-bottom: 50px;
}
.work-steps div {
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
  display: block;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  text-align: center;
  padding: 5px;
  font-size: 150%;
  margin: 0 25px;
  float: left;
}
.work-steps:last-of-type {
  margin-bottom: 80px;
}
.btn-app img {
  height: 50px;
  width: auto;
  margin-right: 10px;
}
/*-----------------------*/
/* section cities
/*-----------------------*/
.box img {
  width: 100%;
  height: 150px;
  object-fit: fill;
  margin-bottom: 15px;
}
.city-features {
  margin-bottom: 5px;
}
.icon-small {
  display: inline-block;
  width: 30px;
  font-size: 120%;
  color: var(--primary-color);
  text-align: center;
  margin-right: 10px;
  /*secrets to align text and icons*/
  line-height: 120%;
  vertical-align: middle;
  margin-top: -5px;
}
.city-features a:link,
.city-features a:visited {
  color: var(--primary-color);
  padding-bottom: 1px;
  border-bottom: 1px solid var(--primary-color);
  transition: border-bottom 0.2s, color 0.2s;
}
.city-features a:active,
.city-features a:hover {
  color: #555;
  border-bottom: 1px solid transparent;
}
/*-----------------------*/
/* section testimonials
/*-----------------------*/
.section-testimonials {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(img/back-customers.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}
blockquote {
  padding: 2%;
  font-style: italic;
  line-height: 145%;
  margin-top: 40px;
  position: relative;
}
blockquote:before {
  content: '\201C';
  font-size: 500%;
  display: block;
  position: absolute;
  top: -5px;
  left: -3px;
}
cite {
  font-size: 90%;
  margin-top: 25px;
  display: block;
}
cite img {
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}
/*-----------------------*/
/* section plans
/*-----------------------*/
.section-plans {
  background-color: #f4f4f4;
}
.plan-box {
  background-color: #fff;
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  box-shadow: 0 2px 2px #efefef;
}
.plan-box div {
  padding: 15px;
  border-bottom: 1px solid #e8e8e8;
}
.plan-box div:first-child {
  background-color: #fcfcfc;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.plan-box div:last-child {
  text-align: center;
  border: 0;
}
.plan-price {
  font-size: 300%;
  color: var(--primary-color);
  margin-bottom: 10px;
  font-weight: 300;
}
.plan-price span {
  /*30% font size of plan-price font-size */
  font-size: 30%;
  font-weight: 300;
}
.plan-price-meals {
  font-size: 80%;
}
.plan-box ul li {
  padding: 5px 0;
}
/*-----------------------*/
/* section Form
/*-----------------------*/
.contact-form {
  width: 60%;
  margin: 0 auto;
}
input[type='text'],
input[type='email'],
select,
textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
textarea {
  height: 100px;
}
input[type='checkbox'] {
  margin: 10px 5px 10px 0;
}
*:focus {
  outline: none;
}
/*-----------------------*/
/* Footer
/*-----------------------*/
footer {
  background-color: #222f3e;
  padding: 50px 0;
  font-size: 70%;
}
.footer-nav {
  float: left;
}
.social-icons {
  float: right;
}
.footer-nav li,
.social-icons li {
  display: inline-block;
  margin-right: 20px;
}
.footer-nav li:last-child,
.social-icons li:last-child {
  margin-right: 0;
}
.footer-nav li a:link,
.footer-nav li a:visited,
.social-icons li a:link,
.social-icons li a:visited {
  color: #888;
}
.footer-nav li a:hover,
.footer-nav li a:active {
  color: #ddd;
}
.social-icons li a:link,
.social-icons li a:visited {
  font-size: 150%;
}
.fa-facebook-f,
.fa-twitter,
.fa-google-plus-g,
.fa-instagram {
  transition: color 0.2s;
}
.fa-facebook-f:hover {
  color: #3b5998;
}
.fa-twitter:hover {
  color: #00aced;
}
.fa-google-plus-g:hover {
  color: #dd4b39;
}
.fa-instagram:hover {
  color: #517fa4;
}
footer p {
  color: #888;
  text-align: center;
  margin-top: 20px;
  font-size: 120%;
}
